gitdb==4.0.11
GitPython
fuzzywuzzy==0.18.0
python-Levenshtein
websocket-client==1.7.0
colorlog==6.8.2
psutil==5.9.8
requests==2.31.0
tqdm==4.66.1
python-dotenv==0.19.2
onnxruntime-gpu
portalocker==2.10.1
toml==0.10.2